<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XabslEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XabslEditor.Properties.Settings>
            <setting name="CacheDir" serializeAs="String">
                <value>Cache/</value>
            </setting>
            <setting name="recentBehaviors" serializeAs="String">
                <value />
            </setting>
            <setting name="ScintillaXabslFile" serializeAs="String">
                <value>./xabsl.xml</value>
            </setting>
            <setting name="recentOptions" serializeAs="String">
                <value />
            </setting>
        </XabslEditor.Properties.Settings>
    </userSettings>
</configuration>